@model EnvoiEmailViewModel
@{
    ViewData["Title"] = "Contactez nous !";
}

<h1>Contactez nous !</h1>
<br />
<p>Avez vous des suggestions pour améliorer ce site ?</p>
<p>Dites le nous !<p>
    <form action="/Contact/SaveMessage">

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            <label>Nom :</label>
            <input type="text" name="nom" value=" @Model.Nom" class="form-control" />
        </div>
        <div class="form-group">
            <label>Adresse Email :</label>
            <input type="text" name="email" value=" @Model.Email" class="form-control" />
        </div>
        <div class="form-group">
            <p>Merci d'écrire votre commentaire ci dessous :</p>
            <textarea cols="10" name="message" class="form-control">@Model.Message</textarea>
        </div>
        <input type="submit" value="envoyer un message" class="btn-lg btn-warning" />

    </form>

