@model List<DetailFormationViewModel>
@{
    ViewData["Title"] = "Toutes les formations";
}

<h1>Toutes nos formations</h1>

<div class="row text-center justify-content-md-center">

    @foreach (var formation in Model)
    {
    <div class="formation-block col-md-6 col-lg-4">
        <a asp-controller="Formation"
           asp-action="DetailsFormation"
           asp-route-nomSeo="@formation.Formation.NomSeo">@formation.Formation.Nom</a>

        @*<div>
            @formation.NoteMoyenne/5
            @for (int i = 1; i <= formation.NoteMoyenne; i++)
            {
                <span class="fa fa-star orange"></span>
            }
            @if (!((formation.NoteMoyenne % 1) == 0))
            {
                <span class="fa fa-star-half orange"></span>
            }
        </div>*@

        <p>@formation.Formation.Description</p>

        <!-- faire le truc des moyennes-->

    </div>
    }
</div>


